<% provide(:title, '常山胡柚公益推广平台') %>



<div class="row" >
  <div class="span6">
    
      <section>
         <p><small>名称：</small>
         <font color="red">常山胡柚公益推广平台</font></p>     
      </section>

      <section>
         <p><small>宗旨:</small>
         <strong>让更多的人了解常山胡柚、知道常山胡柚的价值</strong></p>      
      </section>

  </div>
</div>