<% provide(:title, '常山胡柚文章下载') %>
<div>
	<p align="center"><strong>相关文章下载</strong></p>
    </br>
</div>

<div>
	<table class="table table-striped">
		<tr>
			<td><i class="icon-tag"></td>
			<td><i class="icon-book"></td>
			<td><i class="icon-user"></td>
			<td><i class="icon-download-alt"></i></td>		
		</tr>

		<tr>
			<td>1</td>
			<td>常山胡柚研究现状及存在的问题</td>
			<td>仲山民</td>
			<td><a target="_blank" href="http://pan.baidu.com/share/link?shareid=436494429&uk=3473124366">
				预览<a></td>		
		</tr>


		<tr>
			<td>2</td>
			<td>常山胡柚果实营养成分分析</td>
			<td>仲山民</td>
			<td><a  target="_blank" href="http://pan.baidu.com/share/link?shareid=447570035&uk=3473124366">预览</a></td>		
		</tr>

		<tr>
			<td>3</td>
			<td>常山胡柚的RAPD分析及其果实品质的变化规律与加工利用技术研究</td>
			<td>仲山民</td>
			<td><a target="_blank" href="http://pan.baidu.com/share/link?shareid=26574697&uk=3473124366">预览</a></td>		
		</tr>

       <tr>
			<td>4</td>
			<td>常山胡柚脯的加工技术</td>
			<td>仲山民</td>
			<td><a target="_blank" href="http://pan.baidu.com/share/link?shareid=37809733&uk=3473124366">预览</a></td>		
		</tr>

		 <tr>
			<td>5</td>
			<td>常山胡柚复合保健饮料的加工研制</td>
			<td>仲山民</td>
			<td><a target="_blank" href="http://pan.baidu.com/share/link?shareid=45473084&uk=3473124366">预览</a></td>		
		</tr>
		
		

       

        <tr>
			<td>6</td>
			<td>常山胡柚果实的生长发育规律</td>
			<td>仲山民</td>
			<td><a target="_blank" href="http://pan.baidu.com/share/link?shareid=70055160&uk=3473124366">预览</a></td>		
		</tr>

		<tr>
			<td>7</td>
			<td>常山胡柚可持续发展问题探讨</td>
			<td>仲山民</td>
			<td><a target="_blank" href="http://pan.baidu.com/share/link?shareid=77250475&uk=3473124366">预览</a></td>		
		</tr>

		<tr>
			<td>8</td>
			<td>常山胡柚砂囊罐头的加工工艺研究</td>
			<td>仲山民</td>
			<td><a target="_blank" href="http://pan.baidu.com/share/link?shareid=82985396&uk=3473124366">预览</a></td>		
		</tr>

        <tr>
			<td>9</td>
			<td>常山胡柚天然色素的初步鉴定及其稳定性研究</td>
			<td>时海香、仲山民</td>
			<td><a target="_blank" href="http://pan.baidu.com/share/link?shareid=89234329&uk=3473124366">预览</a></td>		
		</tr>
		<tr>
			<td>10</td>
			<td>常山胡柚低糖果酱的加工</td>
			<td>仲山民</td>
			<td><a target="_blank" href="http://pan.baidu.com/share/link?shareid=542344942&uk=3473124366">预览</a></td>		
		</tr>


		<tr>
			<td>11</td>
			<td>常山胡柚果实营养成分分析</td>
			<td>仲山民</td>
			<td><a target="_blank" href="http://pan.baidu.com/share/link?shareid=548364176&uk=3473124366">预览</a></td>		
		</tr>

		 


		<tr>
			<td>13</td>
			<td>超临界二氧化碳萃取常山胡柚外果皮中天然色素的工艺研究</td>
			<td>时海香、仲山民</td>
			<td><a target="_blank" href="http://pan.baidu.com/share/link?shareid=497917375&uk=3473124366">预览</a></td>		
		</tr>

		<tr>
			<td>14</td>
			<td>常用食品添加剂对常山胡柚色素稳定性的影响</td>
			<td>时海香、仲山民</td>
			<td><a target="_blank" href="http://pan.baidu.com/share/link?shareid=502494717&uk=3473124366">预览</a></td>		
		</tr>


		<tr>
			<td>15</td>
			<td>常山胡柚优良无性系的RAPD分析</td>
			<td>仲山民</td>
			<td><a target="_blank" href="http://pan.baidu.com/share/link?shareid=509783283&uk=3473124366">预览</a></td>		
		</tr>

		<tr>
			<td>16</td>
			<td>常山胡柚叶片DNA的抽提与分析</td>
			<td>仲山民</td>
			<td><a target="_blank" href="http://pan.baidu.com/share/link?shareid=513109179&uk=3473124366">预览</a></td>		
		</tr>

		<tr>
			<td>17</td>
			<td>常山胡柚砂囊悬浮果汁的研制</td>
			<td>仲山民</td>
			<td><a target="_blank" href="http://pan.baidu.com/share/link?shareid=518004330&uk=3473124366">预览</a></td>		
		</tr>

		<tr>
			<td>18</td>
			<td>常山胡柚果酱的加工研制</td>
			<td>仲山民</td>
			<td><a target="_blank" href="http://pan.baidu.com/share/link?shareid=539838173&uk=3473124366">预览</a></td>		
		</tr>

		<tr>
			<td>19</td>
			<td>常山胡柚果汁饮料的加工研制_</td>
			<td>仲山民</td>
			<td><a target="_blank" href="http://pan.baidu.com/share/link?shareid=524218114&uk=3473124366">预览</a></td>		
		</tr>

		<tr>
			<td>20</td>
			<td>常山胡柚果实贮藏期间营养成分含量的变化</td>
			<td>仲山民</td>
			<td><a target="_blank" href="http://pan.baidu.com/share/link?shareid=535153917&uk=3473124366">预览</a></td>		
		</tr>

		<tr>
			<td>21</td>
			<td>常山胡柚果实的综合利用研究</td>
			<td>仲山民</td>
			<td><a target="_blank" href="http://pan.baidu.com/share/link?shareid=537757310&uk=3473124366">预览</a></td>		
		</tr>

		<tr>
			<td>22</td>
			<td>常山胡柚果汁饮料的加工研制_</td>
			<td>仲山民</td>
			<td><a target="_blank" href="http://pan.baidu.com/share/link?shareid=524218114&uk=3473124366">预览</a></td>		
		</tr>

		

		


    </table>
</div>

<div>
	<p align="right"><small>感谢仲山民老师！</small></p>
</div>

<div align="left">
    <wb:like appkey="2F1w7o" type="simple"></wb:like>
</div>

<div>
    <wb:comments url="auto" fontsize="14" width="auto" skin="silver" appkey="1650361794" ></wb:comments>
</div>