<% provide(:title, '联系站长') %>


<div class="container">
  
<div class="row">

<div class="span8">


<table class="table">
  <tr class="success">
  	<td><p><small>郑佳俊</small></p></td>
  	<td><p><small>常山象湖村人</small></p></td>
  	<td><p><small>浙大机械系</small></p></td>
  	<td><p><small><a target="_blank" href="http://www.zhengjiajun.me">郑佳俊的博客</a></small></p></td> 	 	
  </tr>
  <tr class="error">
  	<td><p><small>郑运鸿</small></p></td>
  	<td><p><small>常山象湖村人</small></p></td>
  	<td><p><small>浙大公共管理学院</small></p></td>
  	<td><p><small>null</small></p></td>  	
  </tr>
</table>


</div>

</div>

</div>



