<% provide(:title, '胡柚现状') %>

<p align="center"><strong>常山县胡柚产业发展现状与对策</strong></p>
</br>


<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;常山胡柚是浙江省常山县特有的地方特色柑橘
品种，经过多年发展，已经形成一大产业。常山胡柚系柚子与橙、橘的偶发杂种，源于浙江省常山县青石镇澄潭村胡家自然村，已有百余年栽培历史，因果实似“小柚子”，又在胡家村始种，故称胡柚，为我国特有的地方品种。本文综述了常山胡柚的发展过程、取得成绩与存在问题，对进一步持续稳定发展常山胡柚产业提出了一些建议。
</div></br>

<div>
<p><strong>1常山胡柚产业发展现状</strong></p>
<p><strong>1.1 产业规模不断壮大</strong></p>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1982 年以前，常山县胡柚面积只有 27hm2，产量225t。从 1980 年代中期开始，胡柚作为农业经济的支柱产业，不断加大投入，大力扶持胡柚产业发展。到目前，全县胡柚面积已发展到 7000hm ，年产量达13 万 t，实现产值 2 亿多元，占全县农业总产值的 1/4。加上胡柚鲜果包装商品化处理和深加工增值合计总产值可达 3.5 亿多元，占常山农民人均收入的 1/5。
</div>

<div>
<p><strong>1.2 标准化技术不断推广</strong></p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;常山胡柚是我国制定农业标准比较早的柑橘品种之一。先后制定了常山胡柚县级地方标准、省级地方标准、原产地域产品—常山胡柚》国家强制性标准，形成了一整套操作性强的标准体系。同时，还建立以“企业+基地+农户”为核心的“三联三增”产销协作机制，有效提高了常山胡柚标准化栽培水平。常山胡柚产业化建设走在全国前列，常山胡柚产业提升工程”被列入国家科技部富民强县专项行动计划，基地先后被列入农业部国家标准果园建设试点县、浙江省现代农业高效示范基地等。
</div>

<div>
<p><strong>1.3 果品品质不断提升</strong></p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;几年来，常山县大力实施胡柚品质提升工程，加大产业转型升级。大力推广胡柚三疏二改、增糖降酸”、延后完熟栽培、无公害绿色有机等高品质栽培技术，其中仅饼肥一项每年就增施 2000t 以上，政策上给予肥料款补助 50%，显著提高了品质。全县建成高标准、高质量的胡柚生产基地 4000hm2，其中国家出口注册果园 800hm2，现代农业精品园 5 个，面积533.5hm2，连续 5 年抽检胡柚可溶性固形物（糖度）平均达 11.66%，比国家标准高 1.16 个百分点，优质果率达到 90%以上。
</div>

<div>
<p><strong>1.4 品牌文化不断打响</strong></p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;常山胡柚连续 4 届荣获全国农业博览会金奖，
并先后获得国家无公害农产品、绿色食品”、有机食品”认证。1996 年，常山县被命名为“中国常山胡
柚之乡”；1998 年，常山胡柚”证明商标获国家商标局核准通过，成为浙江省第一个农产品证明商标。
2003 年，常山胡柚获得国家原产地域产品保护。并连续 2 次获得“浙江省十大名橘”、浙江省十大地理
标志区域品牌、浙江省著名商标、名牌产品、知名商号等美誉。2011 年，常山胡柚向国家商标局申报“中
国驰名商标”称号。为统一打响常山胡柚品牌，增强市场竞争力，该县大力实施胡柚品牌战略，采取“一
标志、双商标”的办法，打造常山胡柚地理标志区域品牌。全县 100 多家胡柚企业与专业合作社统一使 
用常山胡柚证明商标。品牌胡柚售价达到了 3～5/元/kg，年新增收入 3800 万元以上。</br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2011 年，常山县强力推进“两区三园”建设，大力弘扬胡柚文化，规划建设一座集知识性、工艺性和欣赏性于一体的中国常山胡柚文化博览园，目前规划面积 320hm2，总投资 1 亿多元，延伸胡柚农业文
化，同时连续开办系列的中国常山胡柚文化节、柚都仙子”评选活动、农民民间文艺会演、社区文化艺术节、年度“柚王”大赛等活动。胡柚赞》、柚女担山》、常山胡柚诗词选》等音乐、舞蹈、诗词以及胡柚书画、保健等特色文化，宣传常山胡柚独特的饮食文化、药用文化、栽培文化、贮藏文化等。
</div>

<div>
<p><strong>1.5 产业链不断延伸</strong></p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;通过多年的不懈努力，常山胡柚产业已形成了
生产、加工、销售一体化的产业链条。目前，拥有县级
以上胡柚龙头企业 60 家，其中国家级龙头企业 1 家，
胡柚专业合作社 320 家，胡柚深加工企业 11 家。常
年贩销胡柚的经纪人队伍达 3000 多人，年销售柑橘
（胡柚）1000t 以上的大户达到 80 多个，全县胡柚产
后商品化处理达到 70%以上，胡柚及其加工品远销
东北、西北、西南等全国各大市场，并成功出口欧盟、
加拿大、俄罗斯、东南亚等国家和地区，鲜果出口量
达到 1 万 t 多。常山胡柚系列深加工产品有 10 多个，
主要有胡柚果汁、砂囊、罐头、果脯、果茶、果酱、胶
囊、食用香精等，加工量在 1.2 万 t。天子果业公司投
资 3 亿元的“十万吨胡柚柑橘综合加工项目”，已建
成全国最大的柑橘深加工生产基地，成为可口可乐、
娃哈哈、农夫果园等知名饮料公司的供应商。
</div>

<div>
<p><strong>1.6 药用保健功能不断得到应用开发</strong></p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;常山自然食品公司借韩国传统工艺结合现代技
术生产的蜂蜜胡柚保健茶，柚都生物科技公司、浙江
经纬药业有限公司开展的“常山胡柚的药用研究与
开发项目”，对胡柚及柚皮苷的止咳、祛痰及降血糖
等药效作用的研究已取得初步成果。上海恒寿堂药
业有限公司也在常山建立年产 10000t 胡柚茶生产
基地。胡柚小青果（枳实、枳壳）在中药材上使用量达
3000t 多，年增收 3600 万元，达到废物利用、一举多
得目的。2010 年 12 月 14 日中央电视台七频道《每日
农经》栏目播出专题节目《药食兼用的常山胡柚》，专
门报道常山胡柚的药用保健作用。

</div>

<div>
<p><strong>2产业发展存在问题</strong></p>
<p><strong>2.1 常山胡柚品质不一致</strong></p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;由于胡柚是天然杂交品种，品种株系变异大，株
与株之间品质存在差异，一株树位置不同，果实品质
也不同。造成品质参差不齐主要有历史因素、栽培条
件、管理等各种原因，这也是造成广大消费者对胡柚
贬褒不一的重要因素。
</div>

<div>
<p><strong>2.2 销售市场无序竞争</strong></p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一些贩销户贪图眼前利益，胡柚未熟就“先下手
为强”，或以低价收购劣质胡柚，以次充好，冲击市
场；少数合作社和农业龙头企业则为了争夺市场，扩
大地盘，竞相压价。胡柚龙头企业太多、合作社太多、
贩销户太多，在市场管理缺乏引导与监控时势必加
剧无序竞争，导致胡柚销售市场出现混乱。
</div>

<div>
<p><strong>2.3 加工产品数量少，品种少, 档次低</strong></p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;胡柚加工品基本上以胡柚汁、胡柚囊瓣、蜂蜜胡
柚茶、果脯蜜饯为主，产品较为传统，档次低，产品附
加值低。天子公司虽开发生产了提供可口可乐公司
作为原料的果汁原浆，但胡柚原汁的比例不高。由于
当前胡柚加工企业规模小,创新能力弱，产品技术含
量低，品牌知名度低,对整个胡柚产业的带动作用
小。胡柚加工业消耗的胡柚只占总产量的 8%。对胡
柚功能性物质，如果胶、柠檬苦素类、黄酮类、类胡萝
卜素类等没有形成产品，以胡柚药理作用为基础研
制新药还处于起步阶段。
</div>

<div>
<p><strong>2.4 经营规模小、土地流转难、专业合作社不规范</strong></p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;多数胡柚种植户为小规模经营户,户均面积仅
980m2。6670m2 以上经营户只有 514 户,66670m2 以上
的更少，只有 26 户。这种小规模分散经营的弊端是
很明显的。千家万户经营的园地要进行园地流转更
加困难重重, 缺乏较为成熟的模式。其原因就农户
而言胡柚还是农民重要收入，即使外出打工经商，不
愿长期流转以留后路；在园地流转行为不规范、信用
机制不完善的情况下作为弱势群体担心自己受损害。就流转方而言另星分散种植的胡柚园，不便于规
模化经营。专业合作社与农村专业合作经济组织的
要求差距较大，合作社的章程不够规范、组织机构不
健全，或流于形式，与农户的关系不紧密，往往沦为
收购与被收购的关系，有些合作社其实就是一个贩
销户。
</div>

<div>
<p><strong>2.5 品牌定位不明确、宣传力度不够</strong></p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;常山胡柚与其它柑橘，有其独特的价值优势，它
的核心价值就在于它不仅有丰富的营养价值，而且有较好的药用价值、保健价值。浙江省药物研究所在对胡柚的营养和生物学作用研究后认为“胡柚既具口感良好，有较高的营养价值，又有有益于健康的生
理作用，这三者兼备特色，在一般鲜果中并不多见。”因此常山胡柚的品牌定位应突出它的“凉性”，它的药用价值、保健价值。常山胡柚所有的宣传策划，都应该围绕这一核心展开，而不是与普通柑橘一起拼价格拼销售。在品牌宣传上重视一次性宣传，而经常性宣传不够。缺少权威部门对胡柚保健药用价值认可依据的宣传。
</div>

<div>
<p><strong>2.6 其他问题</strong></p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;近年来，随着经济发展，胡柚管理出现两极分
化，西部等部分胡柚园出现失管现象。胡柚产业作为弱质产业，受自然界和市场波动的影响较大，果园基
本建设、设施农业建设和生态环境建设有待加强，农业基础设施薄弱，抗御市场风险和自然风险的能力不强。
</div>

<div>
<p><strong>3发展对策</strong></p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;常山胡柚产业发展的总体方向是：以实现“常山
胡柚产业转型升级”为目标，以实施“巩固一批、提升一批、淘汰一批、改造一批、转型一批”五个一批”为
重点，以胡柚社会化统一管理为抓手，以胡柚功能性产品精深加工为突破口，按照“提品质、调结构、控面
积、树品牌、扩加工、促出口”的思路，走特色化、精品化、产业化的胡柚产业转型提升之路，切实提高胡柚
市场竞争力，实现胡柚产业以品质增收、以品牌增收、以加工增收，促进产业可持续发展。
</div>

<div>
<p><strong>3.1 全面实施“五个一批”工程，推动胡柚产业转型升级</strong></p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;巩固一批：以巩固现有的优质胡柚基地（标准化基地）为主，大力推进胡柚基地基础设施建设。其中单个基地要求3.33hm2以上 ，集中连片种植区域13.33hm2以上，总面积2000hm2以上。</br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;提升一批：以建立胡柚精品基地为主，提升基地
管理水平，强化高品质栽培技术应用。其中建立主导产业示范区 2 个, 特色精品果园 10 个，国家注册备
案的出口胡柚基地 20 个以上。总面积 1333.3hm2以上。</br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;改造一批：对全县近2000hm2稻田胡柚及部分管理不到位的胡柚园，加强土壤及管理技术改造，提高胡柚果品品质。</br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;淘汰一批：对海拔 300m 以上、地势低洼 3 年以上
连续受冻较重的以及品质差、荒废的劣质橘园进行淘汰，开展废弃园地整理。对品质差的橘园进行更新换代，高位嫁接其它柑橘品种。新发展名、特、优、新小水果。</br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
转型一批：对江益农产品、天龙等胡柚销售企业进行转型升级为深加工企业，开发胡柚茶、果脯、果
汁、胡柚保健含片、胡柚囊胞等产品，使胡柚深加工企业达到15家以上，深加工产品10个以上，年产量
2万t以上。</br>

</div>

<div>
<p><strong>3.2 打造“三个”发展平台，提升产业集聚力</strong></p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一是建立胡柚深加工为主的农产品精深加工园区。以浙江天子果业有限公司、常山自然食品公司、柚都生物科技等企业为龙头在新都工业园区，建设胡柚精深加工园区。建成全国最大的柑橘深加工生产基地，大幅度提高胡柚产后处理、加工转化能力。</br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;二是建成 2 个优势明显的胡柚柑橘销售集散地
与鲜果加工园区。一个是以青石镇大塘后、澄潭村为
中心，沿 320 国道，依托青石、招贤镇 74 家胡柚销售
企业、专业合作社，联合组成销售联合体。以常山县
柚乡胡柚联合销售有限公司为代表，年销售胡柚柑
橘能力达到 8 万 t 以上。二是以大桥头、东案乡等 40
多家胡柚专业合作社形成第二个胡柚柑橘销售集散
中心，年销售能力达 6 万 t。这些销售集散中心集商品化处理和加工、仓贮、批发交易市场、车辆调度、产
销及价格信息、胡柚包装、及生产投入品于一体，以
胡柚加工和批发交易带动相关产业的发展，提高胡
柚产业综合效益。</br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;三是建立产业研发中心，增强技术支撑。整合全
县的胡柚生产、加工、销售等技术力量，成立一个定
位全面、力量强大、机构完善的常山胡柚研发中心，
并建立省级常山胡柚种子种苗繁育中心。为胡柚产、
加、销提供重大的技术与信息保障。

 

</div>

<div>
<p><strong>3.3 推进橘园流转与社会化统一管理，创新橘园管理机制</strong></p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在原有流转橘园基础上，全县新增橘园流转面
积 1333hm2以上。重点支持橘园流转规模在 3.33hm2
以上的大户或专业合作社。特别要加快推进分散失
管和半荒芜状态的柚园流转，实行优化改造，促进规
模化经营。对一时难以做到经营权流转的，要组织科
技服务队，以托管、病虫害统防统治等方法进行社会
化统一管理橘园。到 2015 年全县培育规范化管理的
胡柚社会化统一管理服务组织 60 家以上，每年为农
户 进 行 统 一 修 剪 、病 虫 害 统 防 统 治 等 服 务 面 积
3333hm2以上，推广三疏二改、无公害生产、完熟栽培
等高品质栽培、标准化、绿色生产技术 6667hm 。
</div>

<div>
<p><strong>3.4 做强区域品牌，增强市场竞争力</strong></p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;打好常山胡柚国家地理标志与证明商标两张
牌，不断扩大常山胡柚的知名度和美誉度。申报中国
驰名商标、统一打响“常山胡柚”区域性品牌，扩大宣传，提升知名度。到2015年全县统一使用常山胡柚
证明商标的农业龙头企业和专业合作社 150 家以上。
</div>

<div>
<p><strong>3.5 突破精深加工，提高产品附加值</strong></p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重点突破胡柚功能性开发，加强胡柚药用功能
研发，加快开发保健产品、药用产品、专用食品，形成
特色鲜明的胡柚深加工系列产品。</br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一是加大传统加工产品的市场开发力度。顺应
消费市场变化，进行技术革新和改造，提高砂囊、罐头、果汁、果脯等传统胡柚加工产品的质量与产量，
开发鲜榨汁、果脯新系列等产品。二是加大胡柚保健
产品的开发。以胡柚茶、柚皮苷、保健饮料、保健茶为
主，依托天子果业、常山自然食品公司、柚都生物科
技、恒寿堂药业有限公司等龙头企业，开发出胡柚果
茶、含片等系列保健食品。同时，开发出具有提神、醒
酒、润喉、清肺等作用的复合型柚皮、柚瓤提取物的
含片、糖果、饮料等保健食品。三是突破功能性产品
开发。利用果皮及小青果、落地果提取类黄酮、橙皮
苷、辛弗林、果胶等生物活性物质，开发美容产品；利
用本地原有制药企业或与外地制药企业合作开发生
产中成药或半成品。继续利用“常山胡柚的药用研
究与开发项目”取得的初步成果，开发生产胡柚止咳
糖桨（中成药）等产品。进一步做好《筛选胡柚中降血
糖组分鉴别、柠檬苦素分析》等项目研究，开发制成
各种糖尿病人专用食品，如含片、胶囊、降糖饮料等
天然食品。
</div>

<div>
<p><strong>3.6 强化产品宣传，弘扬产业文化</strong></p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大力弘扬胡柚文化，建设一座集知识性、工艺性
和欣赏性于一体的中国常山胡柚文化博览园。做好
胡柚产业“接二连三”发展文章，实现胡柚种植业与
精深加工业和休闲、观光旅游等产业的有机协调发
展，提升胡柚产业的综合效益。收集胡柚民间传说、
诗歌、文艺创作等，开办系列的中国常山胡柚文化
节、农民民间文艺会演、社区文化艺术节、年度“柚
王”大赛等活动。使胡柚文化艺术日趋繁荣，成为经
济发展又一亮点。
</div>




<div align="left">
    <wb:like appkey="2F1w7o" type="simple"></wb:like>
</div>

<div>
    <wb:comments url="auto" fontsize="14" width="auto" skin="silver" appkey="1650361794" ></wb:comments>
</div>


