<% provide(:title, '常山胡柚首页') %>

<style>
.website li
{
    display: block;
    width: 91px;
    height: 5px;
    line-height: 30px;
    float: left;
}
.website li a
{
    display: block;
    width: 91px;
    height: 5px;
    text-decoration: none;
    font-size: 13px;
    /*font-family: "宋体";*/

}
</style>



            <div class="bs-docs-example">
              <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="assets/huyou_1.jpg" alt="">
                   
                  </div>
                  <div class="item">
                    <img src="assets/huyou.jpg" alt="">
                    
                  </div>
                  <div class="item">
                    <img src="assets/huyou_2.jpg" alt="">
                    
                  </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
              </div>
            </div>
        

         <div class="container marketing">
      <div class="row">


        <div class="span4">
          <table class="table table-bordered">
          <tr>
          <td>
          <div><h2 align="center"><small>胡柚历史</small></h2></div>
          <div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;明末清初,衢州府的常山招贤最早开始种植胡柚，直到1978年常山当地人还一直称之为“抚州”，1978年，因走向市场需要才定名为“胡柚”，清朝乾隆1764年，葡萄牙人因航海需要将其植物母本引种到国外，被称为“葡萄柚”。2003年，常山申请原产地产品保护成功。只有在浙江常山县行政区域内种植、加工生产的才能被称为胡柚或常山胡柚。 <p align="left"><small><%= link_to "查看更多", history_path %> &raquo;</small></p>
          </div>
          </td>
          </tr>
          </table>
        </div>
       
         <div class="span4">
          <table class="table table-bordered">
          <tr>
          <td>
          <div><h2 align="center"><small>营养价值</small></h2></div>
          <div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;常山胡柚果实色泽金黄、大小适中、甜酸适度、甘中微苦，风味别具，是少有的凉性水果。其果肉含人体所必需的16种氨基酸和大量维生素C、B与微量元素，并具有清凉祛火、镇咳化痰、降低血糖、润喉醒酒、养颜益寿等诸多药理功效，是老少皆宜的集营养、食疗保健、美容、延年于一体的纯天然的保健绿色食品。常山胡柚被称为“中华第一杂柑”。
          <p align="left"><small><%= link_to "查看更多", value_path %> &raquo;</small></p>
          </div>
          </td>
          </tr>
          </table>
        </div><!-- /.span4 -->

        <div class="span4">
          <table class="table table-bordered">
          <tr>
          <td>
          <div><h2 align="center"><small>胡柚现状</small></h2></div>
          <div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1982 年以前，常山县胡柚面积只有 27公顷，产量225吨。从 1980 年代中期开始，胡柚作为农业经济的支柱产业，不断加大投入，大力扶持胡柚产业发展。到目前，全县胡柚面积已发展到 7000公顷 ，年产量达13 万吨，实现产值 2 亿多元，占全县农业总产值的 1/4。加上胡柚鲜果包装商品化处理和深加工增值合计总产值可达 3.5 亿多元，占常山农民人均收入的 1/5。

          <p align="left"><small><%= link_to "查看更多", current_path %> &raquo;</small></p>
          </div>
          </td>
          </tr>
          </table>
        </div>
      </div>


      <div class="website">
        <li ><p><small>友情链接&raquo;&nbsp;&nbsp;&nbsp;&nbsp;</small></p></li>
        <li ><a target="_blank" href="http://www.bytravel.cn/view/index2865.html">常山旅游</a></li>
        <li ><a target="_blank" href="http://csnews.zjol.com.cn">常山新闻</a></li>
        <li ><a target="_blank" href="http://www.csyz.com">常山一中</a></li>
        <li ><a target="_blank" href="http://www.qz828.com">衢州新闻</a></li>
        <li ><a target="_blank" href="http://tour.qz.gov.cn">衢州旅游</a></li>
        <li ><a target="_blank" href="http://zhouxun.g.ifensi.com">衢州周迅</a></li>
        <li ><a target="_blank" href="http://www.qzyz.cn">衢州一中</a></li>
        <li ><a target="_blank" href="http://www.qzu.zj.cn">衢州学院</a></li>
        <li ><a target="_blank" href="http://www.qzct.net">衢州职院</a></li>        
      </div>


    </div>

       
