<% provide(:title, '胡柚视频') %>


<div class="row">
  <div class="span4"></div>
  <div class="span8"></div>
</div>


<div class="row">
	<section>
		<p align="center"><strong>常山宣传片</strong></p>
	    </hr>
	</section>
	<section>
	<div class="span6 offset3">
		<embed src="http://player.youku.com/player.php/sid/XNTIzNzU2MDAw/v.swf" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
	</div>
    </section>
</div>










