@import "bootstrap";

.weibo li
{
    display: block;
    /*width: 63px;
    height: 13px;*/
    line-height: 13px;
    float: left;
}
.no1
{
    width: 64px;
    height: 20px;
    float: left;
}

.no2
{
    width: 63px;
    height: 13px;
    float: right;
}


.weibo
{
    margin-left:0px;
    margin-top: 0px;
    float: left;
}


